# U.S. Recorded Music Revenues by Format

* **Data:** `Revenue_Chart_Full_Data_data.csv`
* **Description:** Once upon a time cassette tapes were popular. This is their dataset.
* **Source:** https://public.tableau.com/shared/4Z36JM5NN?%3AshowVizHome=no
* **Columns of interest:**
    * `Format` the format of the music - cassette, vinyl, CD, etc.
    * `Year` is the year the data is for
    * `Value (For Charting)` is the revenue (in millions) that format made in that year

The file is tab-separated, not comma-separated, so you'll need to pass in `sep='\t'` when reading it in.

In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", '{:,}'.format)
df = pd.read_csv('Revenue_Chart_Full_Data_data.csv', sep='\t')
df.head(500)

/Users/owner/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

,Year of Year Date,Adjusted for Inflation Notes,Adjusted for Inflation Title,Format,Metric,Year,Value (For Charting),Adjusted for Inflation Flag,Year Date,Format Value # (Billion),Format Value # (Million),Total Value # (Billion),Total Value # (Million),Total Value For Year,Value (Actual),Year (copy)
0,2005,NaN,NaN,Cassette,Value,2005,13.1,NaN,2005,NaN,$13.1M,$12.3B,NaN,$12289.9B,13.1,2005
1,2015,NaN,NaN,CD Single,Value,2015,1.19694661,NaN,2015,NaN,$1.2M,$6.7B,NaN,$6710.8B,1.19694661,2015
2,2015,NaN,NaN,Paid Subscription,Value,2015,"1,156.708513551",NaN,2015,$1.2B,NaN,$6.7B,NaN,$6710.8B,"1,156.708513551",2015
3,2017,NaN,NaN,Download Single,Value,2017,667.875936447,NaN,2017,NaN,$667.9M,$8.5B,NaN,$8503.2B,667.875936447,2017
4,1986,NaN,NaN,Vinyl Single,Value,1986,228.1,NaN,1986,NaN,$228.1M,$4.6B,NaN,$4640.7B,228.1,1986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,2010,NaN,NaN,Vinyl Single,Value,2010,2.3,NaN,2010,NaN,$2.3M,$7.0B,NaN,$7013.8B,2.3,2010
449,1989,NaN,NaN,LP/EP,Value,1989,220.3,NaN,1989,NaN,$220.3M,$6.6B,NaN,$6580.2B,220.3,1989
450,1982,NaN,NaN,Vinyl Single,Value,1982,283.0,NaN,1982,NaN,$283.0M,$3.6B,NaN,$3628.6B,283.0,1982
451,2016,NaN,NaN,Ringtones & Ringbacks,Value,2016,56.325299125,NaN,2016,NaN,$56.3M,$7.5B,NaN,$7491.7B,56.325299125,2016
452,2016,NaN,NaN,Vinyl Single,Value,2016,4.880679689,NaN,2016,NaN,$4.9M,$7.5B,NaN,$7491.7B,4.880679689,2016

## Create a numeric column called `revenue` that is the amount of revenue in dollars

In [2]:
# REVIEW:
    
# For music, you might have missed the note up top 
# about which column to use for revenue, 
# which turned into some trouble later on. 
# But that's not a code problem! 
# I'll note that when I see something like this: 
# df['revenue'] = df['revenue'].str.replace('$', '')
# df['revenue'] = df['revenue'].str.replace('B', '')
# df['revenue'] = df['revenue'].str.replace('M', '')
# I get nervous about attention to detail! `B` is for billions and `M` is for millions, 
# and when you strip both of those numbers out without replacing them with `000000000` or `000000` 
# then you're making 2.2 billion be the same as 2.2 million. 
# Overall you're going in a good direction, 
# but maybe could use some more practice involving filtering + calculations, 
# just to make sure they happen in the correct order so you get the answers you think you're getting.

In [3]:
df['revenue'] = df['Total Value # (Billion)']
df['revenue']

0      $12.3B
1       $6.7B
2       $6.7B
3       $8.5B
4       $4.6B
        ...
448     $7.0B
449     $6.6B
450     $3.6B
451     $7.5B
452     $7.5B
Name: revenue, Length: 453, dtype: object

## What format has made the most money over the course of this dataset?

In [4]:
df.sort_values(by='Format Value # (Million)', ascending=False).tail()

,Year of Year Date,Adjusted for Inflation Notes,Adjusted for Inflation Title,Format,Metric,Year,Value (For Charting),Adjusted for Inflation Flag,Year Date,Format Value # (Billion),Format Value # (Million),Total Value # (Billion),Total Value # (Million),Total Value For Year,Value (Actual),Year (copy),revenue
422,2011,NaN,NaN,Download Album,Value,2011,"1,070.8",NaN,2011,$1.1B,NaN,$7.1B,NaN,$7135.6B,"1,070.8",2011,$7.1B
431,1975,NaN,NaN,LP/EP,Value,1975,"1,485.0",NaN,1975,$1.5B,NaN,$2.4B,NaN,$2388.5B,"1,485.0",1975,$2.4B
437,1984,NaN,NaN,Cassette,Value,1984,"2,383.9",NaN,1984,$2.4B,NaN,$4.3B,NaN,$4334.7B,"2,383.9",1984,$4.3B
442,2020,NaN,NaN,On-Demand Streaming (Ad-Supported),Value,2020,"1,183.121359683",NaN,2020,$1.2B,NaN,$12.2B,NaN,$12153.4B,"1,183.121359683",2020,$12.2B
447,2008,NaN,NaN,CD,Value,2008,"5,471.3",NaN,2008,$5.5B,NaN,$8.8B,NaN,$8776.8B,"5,471.3",2008,$8.8B

## What percent of total revenue was that one format responsible for?

I want a sentence like, `according to our dataset, compact discs have been responsible for ___% of the music industry's revenue`.

In [5]:
df.sort_values(by='revenue')['Format'].value_counts(normalize=True) * 100

Vinyl Single                         10.596026490066226
LP/EP                                10.596026490066226
CD                                    8.388520971302428
Cassette                              8.167770419426049
Music Video (Physical)                 7.06401766004415
CD Single                              7.06401766004415
DVD Audio                             4.194260485651214
SACD                                 3.9735099337748347
Download Album                       3.7527593818984544
Download Single                      3.7527593818984544
SoundExchange Distributions          3.7527593818984544
Paid Subscription                     3.532008830022075
Ringtones & Ringbacks                 3.532008830022075
Kiosk                                 3.532008830022075
Download Music Video                  3.532008830022075
Cassette Single                       3.090507726269316
Synchronization                      2.6490066225165565
On-Demand Streaming (Ad-Supported)    2.207505518763797
8 - Track                             2.207505518763797
Limited Tier Paid Subscription       1.3245033112582782
Other Digital                        1.1037527593818985
Other Ad-Supported Streaming         1.1037527593818985
Other Tapes                          0.8830022075055187
Name: Format, dtype: float64

In [6]:
# According to this dataset, 8.4 per cent of the music industry's revenue came from compact discs.

## What formats were sold over the largest number of years?

For example, vinyl singles were sold for almost fifty years, while downloadable albums have only existed briefly.

In [7]:
#df.head()

In [18]:
# df.groupby('Format')['Year'].count().sort_values()

df.sort_values(by='Format Value # (Million)')['Format'].value_counts()

LP/EP                                 48
Vinyl Single                          48
CD                                    38
Cassette                              37
Music Video (Physical)                32
CD Single                             32
DVD Audio                             19
SACD                                  18
Download Album                        17
SoundExchange Distributions           17
Download Single                       17
Kiosk                                 16
Paid Subscription                     16
Ringtones & Ringbacks                 16
Download Music Video                  16
Cassette Single                       14
Synchronization                       12
On-Demand Streaming (Ad-Supported)    10
8 - Track                             10
Limited Tier Paid Subscription         6
Other Digital                          5
Other Ad-Supported Streaming           5
Other Tapes                            4
Name: Format, dtype: int64

## What was the total revenue for CDs?

Include both CDs and CD singles.

In [27]:
# df.sort_values(by='revenue').Format.str.contains('CD', regex=False).sum()#.value_counts()#.sort_values(by='revenue').s

df[(df.Format == 'CD') | (df.Format == 'CD Single')].sum()

/var/folders/91/rxn0kqts3h3bykpfzrz8xptm0000gn/T/ipykernel_21228/2928456502.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[(df.Format == 'CD') | (df.Format == 'CD Single')].sum()

Year of Year Date                                                          140200
Adjusted for Inflation Notes                                                  0.0
Adjusted for Inflation Title                                                  0.0
Format                          CD SingleCDCD SingleCDCD SingleCD SingleCDCDCD...
Metric                          ValueValueValueValueValueValueValueValueValueV...
Year                                                                       140200
Value (For Charting)                                            207,116.579173515
Adjusted for Inflation Flag                                                   0.0
Year Date                                                                  140200
Total Value # (Billion)         $6.7B$9.0B$8.5B$14.6B$7.0B$11.1B$13.7B$10.0B$6...
Total Value # (Million)                                                       0.0
Total Value For Year            $6710.8B$9024.0B$8503.2B$14584.7B$7013.8B$1113...
Value (Actual)                                                  207,116.579173515
Year (copy)                                                                140200
revenue                         $6.7B$9.0B$8.5B$14.6B$7.0B$11.1B$13.7B$10.0B$6...
dtype: object

## What format made the most money after 2000?

In [11]:
df

,Year of Year Date,Adjusted for Inflation Notes,Adjusted for Inflation Title,Format,Metric,Year,Value (For Charting),Adjusted for Inflation Flag,Year Date,Format Value # (Billion),Format Value # (Million),Total Value # (Billion),Total Value # (Million),Total Value For Year,Value (Actual),Year (copy),revenue
0,2005,NaN,NaN,Cassette,Value,2005,13.1,NaN,2005,NaN,$13.1M,$12.3B,NaN,$12289.9B,13.1,2005,$12.3B
1,2015,NaN,NaN,CD Single,Value,2015,1.19694661,NaN,2015,NaN,$1.2M,$6.7B,NaN,$6710.8B,1.19694661,2015,$6.7B
2,2015,NaN,NaN,Paid Subscription,Value,2015,"1,156.708513551",NaN,2015,$1.2B,NaN,$6.7B,NaN,$6710.8B,"1,156.708513551",2015,$6.7B
3,2017,NaN,NaN,Download Single,Value,2017,667.875936447,NaN,2017,NaN,$667.9M,$8.5B,NaN,$8503.2B,667.875936447,2017,$8.5B
4,1986,NaN,NaN,Vinyl Single,Value,1986,228.1,NaN,1986,NaN,$228.1M,$4.6B,NaN,$4640.7B,228.1,1986,$4.6B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,2010,NaN,NaN,Vinyl Single,Value,2010,2.3,NaN,2010,NaN,$2.3M,$7.0B,NaN,$7013.8B,2.3,2010,$7.0B
449,1989,NaN,NaN,LP/EP,Value,1989,220.3,NaN,1989,NaN,$220.3M,$6.6B,NaN,$6580.2B,220.3,1989,$6.6B
450,1982,NaN,NaN,Vinyl Single,Value,1982,283.0,NaN,1982,NaN,$283.0M,$3.6B,NaN,$3628.6B,283.0,1982,$3.6B
451,2016,NaN,NaN,Ringtones & Ringbacks,Value,2016,56.325299125,NaN,2016,NaN,$56.3M,$7.5B,NaN,$7491.7B,56.325299125,2016,$7.5B
452,2016,NaN,NaN,Vinyl Single,Value,2016,4.880679689,NaN,2016,NaN,$4.9M,$7.5B,NaN,$7491.7B,4.880679689,2016,$7.5B

In [35]:

df.sort_values(by='Value (Actual)')[df["Year"] > 2000].tail()

/var/folders/91/rxn0kqts3h3bykpfzrz8xptm0000gn/T/ipykernel_21228/3198703729.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.sort_values(by='Value (Actual)')[df["Year"] > 2000].tail()

,Year of Year Date,Adjusted for Inflation Notes,Adjusted for Inflation Title,Format,Metric,Year,Value (For Charting),Adjusted for Inflation Flag,Year Date,Format Value # (Billion),Format Value # (Million),Total Value # (Billion),Total Value # (Million),Total Value For Year,Value (Actual),Year (copy),revenue
282,2005,NaN,NaN,CD,Value,2005,"10,520.2",NaN,2005,$10.5B,NaN,$12.3B,NaN,$12289.9B,"10,520.2",2005,$12.3B
135,2003,NaN,NaN,CD,Value,2003,"11,232.9",NaN,2003,$11.2B,NaN,$11.9B,NaN,$11854.4B,"11,232.9",2003,$11.9B
271,2004,NaN,NaN,CD,Value,2004,"11,446.5",NaN,2004,$11.4B,NaN,$12.3B,NaN,$12345.1B,"11,446.5",2004,$12.3B
45,2002,NaN,NaN,CD,Value,2002,"12,044.1",NaN,2002,$12.0B,NaN,$12.6B,NaN,$12615.8B,"12,044.1",2002,$12.6B
76,2001,NaN,NaN,CD,Value,2001,"12,909.4",NaN,2001,$12.9B,NaN,$13.7B,NaN,$13746.2B,"12,909.4",2001,$13.7B

In [13]:
# .astype(int)

## What three years had the highest total revenue?

Note that this isn't adjusted for inflation, but that's okay for this exercise.

In [56]:
df['revenue'] = df['revenue'].str.replace('$', '')
df['revenue'] = df['revenue'].str.replace('B', '')
df['revenue'] = df['revenue'].str.replace('M', '')


df.sort_values(by='revenue').tail(50)

/var/folders/91/rxn0kqts3h3bykpfzrz8xptm0000gn/T/ipykernel_21228/3901471450.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['revenue'] = df['revenue'].str.replace('$', '')

,Year of Year Date,Adjusted for Inflation Notes,Adjusted for Inflation Title,Format,Metric,Year,Value (For Charting),Adjusted for Inflation Flag,Year Date,Format Value # (Billion),Format Value # (Million),Total Value # (Billion),Total Value # (Million),Total Value For Year,Value (Actual),Year (copy),revenue
92,2017,NaN,NaN,SoundExchange Distributions,Value,2017,652.0,NaN,2017,NaN,652.0M,$8.5B,NaN,$8503.2B,652.0,2017,8.5
297,2017,NaN,NaN,CD,Value,2017,"1,043.916051485",NaN,2017,$1.0B,NaN,$8.5B,NaN,$8503.2B,"1,043.916051485",2017,8.5
215,2017,NaN,NaN,Download Music Video,Value,2017,2.785780489,NaN,2017,NaN,2.8M,$8.5B,NaN,$8503.2B,2.785780489,2017,8.5
82,2017,NaN,NaN,Paid Subscription,Value,2017,"3,359.760899106",NaN,2017,$3.4B,NaN,$8.5B,NaN,$8503.2B,"3,359.760899106",2017,8.5
202,2017,NaN,NaN,On-Demand Streaming (Ad-Supported),Value,2017,614.264327542,NaN,2017,NaN,614.3M,$8.5B,NaN,$8503.2B,614.264327542,2017,8.5
396,2017,NaN,NaN,Other Digital,Value,2017,16.885109868,NaN,2017,NaN,16.9M,$8.5B,NaN,$8503.2B,16.885109868,2017,8.5
136,2017,NaN,NaN,LP/EP,Value,2017,388.511108168,NaN,2017,NaN,388.5M,$8.5B,NaN,$8503.2B,388.511108168,2017,8.5
386,2017,NaN,NaN,SACD,Value,2017,0.85057856,NaN,2017,NaN,0.9M,$8.5B,NaN,$8503.2B,0.85057856,2017,8.5
392,2017,NaN,NaN,Synchronization,Value,2017,232.086522899,NaN,2017,NaN,232.1M,$8.5B,NaN,$8503.2B,232.086522899,2017,8.5
132,2008,NaN,NaN,CD Single,Value,2008,3.5,NaN,2008,NaN,3.5M,$8.8B,NaN,$8776.8B,3.5,2008,8.8
116,2008,NaN,NaN,LP/EP,Value,2008,56.7,NaN,2008,NaN,56.7M,$8.8B,NaN,$8776.8B,56.7,2008,8.8
89,2008,NaN,NaN,Music Video (Physical),Value,2008,227.3,NaN,2008,NaN,227.3M,$8.8B,NaN,$8776.8B,227.3,2008,8.8
239,2008,NaN,NaN,SoundExchange Distributions,Value,2008,100.0,NaN,2008,NaN,100.0M,$8.8B,NaN,$8776.8B,100.0,2008,8.8
32,2008,NaN,NaN,Ringtones & Ringbacks,Value,2008,977.1,NaN,2008,NaN,977.1M,$8.8B,NaN,$8776.8B,977.1,2008,8.8
447,2008,NaN,NaN,CD,Value,2008,"5,471.3",NaN,2008,$5.5B,NaN,$8.8B,NaN,$8776.8B,"5,471.3",2008,8.8
310,2008,NaN,NaN,SACD,Value,2008,3.1,NaN,2008,NaN,3.1M,$8.8B,NaN,$8776.8B,3.1,2008,8.8
149,2008,NaN,NaN,Download Album,Value,2008,635.3,NaN,2008,NaN,635.3M,$8.8B,NaN,$8776.8B,635.3,2008,8.8
246,2008,NaN,NaN,Vinyl Single,Value,2008,2.9,NaN,2008,NaN,2.9M,$8.8B,NaN,$8776.8B,2.9,2008,8.8
222,2008,NaN,NaN,Download Music Video,Value,2008,41.3,NaN,2008,NaN,41.3M,$8.8B,NaN,$8776.8B,41.3,2008,8.8
288,2008,NaN,NaN,Paid Subscription,Value,2008,221.4,NaN,2008,NaN,221.4M,$8.8B,NaN,$8776.8B,221.4,2008,8.8
235,2008,NaN,NaN,DVD Audio,Value,2008,1.2,NaN,2008,NaN,1.2M,$8.8B,NaN,$8776.8B,1.2,2008,8.8
71,2008,NaN,NaN,Download Single,Value,2008,"1,032.2",NaN,2008,$1.0B,NaN,$8.8B,NaN,$8776.8B,"1,032.2",2008,8.8
336,2008,NaN,NaN,Kiosk,Value,2008,2.6,NaN,2008,NaN,2.6M,$8.8B,NaN,$8776.8B,2.6,2008,8.8
345,2008,NaN,NaN,Cassette,Value,2008,0.9,NaN,2008,NaN,0.9M,$8.8B,NaN,$8776.8B,0.9,2008,8.8
8,1992,NaN,NaN,CD,Value,1992,"5,326.5",NaN,1992,$5.3B,NaN,$9.0B,NaN,$9024.0B,"5,326.5",1992,9.0
278,1992,NaN,NaN,Cassette Single,Value,1992,298.8,NaN,1992,NaN,298.8M,$9.0B,NaN,$9024.0B,298.8,1992,9.0
420,1992,NaN,NaN,Cassette,Value,1992,"3,116.3",NaN,1992,$3.1B,NaN,$9.0B,NaN,$9024.0B,"3,116.3",1992,9.0
221,1992,NaN,NaN,Music Video (Physical),Value,1992,157.4,NaN,1992,NaN,157.4M,$9.0B,NaN,$9024.0B,157.4,1992,9.0
83,1992,NaN,NaN,LP/EP,Value,1992,13.5,NaN,1992,NaN,13.5M,$9.0B,NaN,$9024.0B,13.5,1992,9.0
70,1992,NaN,NaN,Vinyl Single,Value,1992,66.4,NaN,1992,NaN,66.4M,$9.0B,NaN,$9024.0B,66.4,1992,9.0
139,1992,NaN,NaN,CD Single,Value,1992,45.1,NaN,1992,NaN,45.1M,$9.0B,NaN,$9024.0B,45.1,1992,9.0
186,2018,NaN,NaN,Download Music Video,Value,2018,2.2208106,NaN,2018,NaN,2.2M,$9.7B,NaN,$9738.2B,2.2208106,2018,9.7
293,2018,NaN,NaN,Other Ad-Supported Streaming,Value,2018,208.176850655,NaN,2018,NaN,208.2M,$9.7B,NaN,$9738.2B,208.176850655,2018,9.7
181,2018,NaN,NaN,SACD,Value,2018,0.85969971,NaN,2018,NaN,0.9M,$9.7B,NaN,$9738.2B,0.85969971,2018,9.7
359,2018,NaN,NaN,Limited Tier Paid Subscription,Value,2018,740.513270408,NaN,2018,NaN,740.5M,$9.7B,NaN,$9738.2B,740.513270408,2018,9.7
250,2018,NaN,NaN,CD,Value,2018,695.813578618,NaN,2018,NaN,695.8M,$9.7B,NaN,$9738.2B,695.813578618,2018,9.7
403,2018,NaN,NaN,LP/EP,Value,2018,419.223946961,NaN,2018,NaN,419.2M,$9.7B,NaN,$9738.2B,419.223946961,2018,9.7
347,2018,NaN,NaN,Other Digital,Value,2018,19.839574865,NaN,2018,NaN,19.8M,$9.7B,NaN,$9738.2B,19.839574865,2018,9.7
212,2018,NaN,NaN,Kiosk,Value,2018,1.965045799,NaN,2018,NaN,2.0M,$9.7B,NaN,$9738.2B,1.965045799,2018,9.7
97,2018,NaN,NaN,Vinyl Single,Value,2018,5.720600877,NaN,2018,NaN,5.7M,$9.7B,NaN,$9738.2B,5.720600877,2018,9.7
157,2018,NaN,NaN,Ringtones & Ringbacks,Value,2018,24.957859799,NaN,2018,NaN,25.0M,$9.7B,NaN,$9738.2B,24.957859799,2018,9.7
331,2018,NaN,NaN,CD Single,Value,2018,0.015804147,NaN,2018,NaN,0.0,$9.7B,NaN,$9738.2B,0.015804147,2018,9.7
425,2018,NaN,NaN,On-Demand Streaming (Ad-Supported),Value,2018,752.689023397,NaN,2018,NaN,752.7M,$9.7B,NaN,$9738.2B,752.689023397,2018,9.7
424,2018,NaN,NaN,Synchronization,Value,2018,285.51349134,NaN,2018,NaN,285.5M,$9.7B,NaN,$9738.2B,285.51349134,2018,9.7
279,2018,NaN,NaN,Music Video (Physical),Value,2018,28.415314793,NaN,2018,NaN,28.4M,$9.7B,NaN,$9738.2B,28.415314793,2018,9.7
414,2018,NaN,NaN,Download Album,Value,2018,495.258335623,NaN,2018,NaN,495.3M,$9.7B,NaN,$9738.2B,495.258335623,2018,9.7
223,2018,NaN,NaN,DVD Audio,Value,2018,0.32886706,NaN,2018,NaN,0.3M,$9.7B,NaN,$9738.2B,0.32886706,2018,9.7
401,2018,NaN,NaN,Download Single,Value,2018,489.86622023,NaN,2018,NaN,489.9M,$9.7B,NaN,$9738.2B,489.86622023,2018,9.7
129,2018,NaN,NaN,SoundExchange Distributions,Value,2018,952.8,NaN,2018,NaN,952.8M,$9.7B,NaN,$9738.2B,952.8,2018,9.7
198,2018,NaN,NaN,Paid Subscription,Value,2018,"4,614.018502363",NaN,2018,$4.6B,NaN,$9.7B,NaN,$9738.2B,"4,614.018502363",2018,9.7